@import '~@angular/material/theming';

@include mat-core();

$primary-color-dark:   #383838;
$primary-color:        #4b4b4b;
$primary-color-light:  #ffffff;
$primary-color-text:   #ffffff;
$accent-color:         rgba(0, 174, 239, 1);
$primary-text-color:   #383838;
$secondary-text-color: #9ea7b3;
$divider-color:        #BDBDBD;
$dark-color:           #000000;
$warn-color:           #d42626;
$text-dark-color:      rgba(0, 0, 0, 0.87);
$tangerine :           #F7AC31;
$rouge :               #F57D7D;
$flamingo :            #FEB5AC;
$aquamarine :          #6EB457;
$turquoise :           #40dac5;
